# Combining data sets

There are many times when you need to combine data from different sources. Besides having a need to combine data, how you want to combine it will vary and that's why there are so many options available. 
 
For example:
 
- you may separate files for each month and you want to combine them together so you can analyse the entire year. Since the structure/columns are the same, you would simply want to stack these on top of one another.
 
- On the other hand, you may have cases where you have different types of tables that you want to combine horizontally on the records so that you can compare -- for example, joining an employee master list to payroll list to confirm that all the employees are being paid the appropriate amounts each month.
 
In cases like these, you would need to combine the Pandas series and dataframe once you have read the data from the original data sources into Pandas. Pandas provides functions to combine data in Pandas objects.
 
Let’s explore these functions now.

Many a times we have to combine data from different sources into one, for e.g.:<br>
- Reading data from multiple files, and combining (append,merge,join) them together to form one dataset
- Joining data from two database tables etc</br>

In this case, once we have read the data from the original datasources into Pandas, we would need to combine together the Pandas Series and DataFrames

Pandas provide various built in functions to combine together the data contained in Pandas objects, and this section we will explore these functions

### Concatenation of Data using concat()


Concatenation is a common operation that combines two datasets. It is also referred to as ‘stacking’ or ‘binding’ data together.
 
It’s better to understand the operation with an example. Look at this diagram:

![Concatenation](dataframes/Python-concat-example-3df.png)
 
As you can see, there are three dataframes on the left and they have been concatenated (or stacked together) to produce the dataframe on the right.
 
Concatenation follows certain principles:
 
- The operation happens along a particular axis.
- While performing the operation along that axis, you can apply some set logic operations (union or intersection) on the other axes.
 
As a result, there are some variations for how you can perform concatenation. 
Let's use some code to implement the simple concatenation operation depicted above. We have adopted a very basic approach:
 
- Create the three dataframes.
- Concatenate the three dataframes with the concat() Pandas function. 
- Use a list of dataframes as input for the function.
 
Use these code snippets for a demonstration:

In [ ]:
import pandas as pd
import numpy as np
#Define DataFrame 1
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df1

In [ ]:
#Define DataFrame #2
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
df2

In [ ]:
#Define DataFrame #3
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
df3

In [ ]:
#Perform the concatenation of the three DataFrames
result = pd.concat([df1,df2,df3])
result

Here is the syntax for concat() where the function accepts various parameters depending on what you want to perform on the DataFrame : 
 
<CODE>
pandas.concat(objs: Union[Iterable[‘DataFrame’], Mapping[Label, ‘DataFrame’]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True') → ’DataFrame’[source]
</CODE> 

Apply these parameters for more control over the operation. 


- __objs__ : This parameter defines a sequence, mapping of series, or dataframe objects.

- __axis__ : This defines the axis to concatenate along. The options are {0, 1, …}, with the default as 0.

- __join__ : This defines how the operation should handle indexes on other axes. The options are {‘inner’, ‘outer’}, with the default as ‘outer’. Use ‘outer’ for union and ‘inner’ for intersection.

- __ignore_index__ : This is useful if you are concatenating objects when the concatenation axis doesn’t have meaningful indexing information.

- __keys__ : This parameter is used to construct a hierarchical index, using the passed keys as the outermost level. If multiple levels are passed, the parameter should contain tuples. The value should be a sequence, with a default of None.

- __levels__ : This parameter specifies levels (unique values) to use for constructing a MultiIndex. If you do not provide these values, they will be inferred from the keys. The values should be a list of sequences, with None as a default.

-  __name__ : This parameter provides names for the levels in the resulting hierarchical index. The values are in list, with None as a default.

- __verify_integrity__ : This checks if the new, concatenated axis contains duplicates. This operation can be very expensive relative to the actual data concatenation. The parameter is a Boolean value and is False by default.

- __copy__ : This parameter is a Boolean value, with a default value of True. If it is set to False, the operation will not copy data unnecessarily.

Check the reference guide for more information about these parameters. Please refer to the following link:<br>
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

We will now explore some of these parameters by way of examples:

### Example 1. Hierarchical Indexing using _"keys"_ parameter

Let’s look at some examples of how to use the parameters.

Refer back to the previous example with code snippets. If you are concatenating the original data frames, you might want to retain the original keys (0, 1, 2, etc) and indicate which source (dataframe) the data comes from. 
 
You can achieve this with hierarchical indexing, where you add a top-level key that identifies the original dataframe. In this case, you would use the key parameter of the function and pass the list of keys that corresponds to the sequence of dataframe being concatenated.
 
Use this code for an example to reuse the previously defined DataFrames df1, df2 and df3 :

In [ ]:
#Reuse the previously defined DataFrames df1, df2 and df3
res = pd.concat([df1,df2,df3], keys=['a','b','c'])
res

The result is a dataframe with hierarchical indexing in place. You can access the chunk of this dataframe by using the first-level key. 

 
Use this code for a demonstration:

In [ ]:
res.loc['a']

In [ ]:
res.loc['c']

Now, using the top-level key a, you can access the original data chunk from dataframe df1.

### Example 2: Set logic on other axes using axis and join

If you want a refresher on join operations in Set Theory, or outer join and inner joins, please refer to Basic SQL Join Types. You will also learn more about these concepts in Module 6.
 
Go to: SQL Set Theory [2]
 
You can apply set logic on the other axes by using the join parameter: 
 
join=outer: take the union of all. This is the default option (it also by default with sort the other axes)
join=inner: take the intersection
 
This parameter allows you to perform useful operations. Consider a situation where you need to concatenate on the column axis and perform an outer join (ie, union):

!["Outer Join"](dataframes/Python-concat-example-outer.png)
 
Notice that:


the column labels from both axes have been concatenated
a union operation has been performed for the row labels.
 
How do you achieve this? Try this code snippet to create another DataFrame:

In [ ]:
## Create another DataFrame
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

df4

In [ ]:
##Default behaviour is join=outer, so we are not specifying the parameter explicitly
result = pd.concat([df1,df4], axis=1, sort=False)
result

Now, consider a situation where you need to concatenate on the column axis and perform an inner join (ie, intersection):

!["Inner Join"](dataframes/Python-concat-example-inner.png)
 
Notice that:

- the columns labels from both axes have been concatenated
- an intersection operation has been performed for the row labels (ie, only the common rows from df1 and df4 are in the result). 
 
You can do the operation with this code:

In [ ]:
result = pd.concat([df1,df4], axis=1, sort=False, join='inner')
result

Let's say you want to perform an outer join, but retain only the indexing from df1. You can do this by reindexing after concatenation. For the example above, the resulting DataFrame wouldn’t have rows 6 and 7. 
 
This diagram illustrates the result:
 
![Outer Join and Reindexing](dataframes/Python-concat-example-outer-reindex.png)
 
You can use this code to perform the operation:

In [ ]:
#Check DF1
df1

In [ ]:
#Check DF4
df4

In [ ]:
result = pd.concat([df1,df4], axis=1).reindex(df1.index)
result

We could have also reindexed df4, before the concatenation and would have got the same result. See below for demonstration:

In [ ]:
result = pd.concat([df1,df4.reindex(df1.index)], axis=1)
result

### Example 3: Ignoring Indexes on Concatenation Axes

You might have a scenario where you don't have a meaningful index, or there is an overlapping index. In that case, you can still append the dataframe and ignore the index. The operation will result in a dataframe with a new index. To do this, use the ignore_index parameter.

In [ ]:
result = pd.concat([df1,df4], ignore_index=True, sort=False)
result

### Concatenation of Data using append()

__append()__ is the instance method available for dataframe and Series, and can be used to perform the concatenation operation. This method concatenates along the index (ie, axis=0).
 
The syntax for append() is: 
 
<CODE>
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)
</CODE> 

These diagrams and code snippets illustrate how to use the method:
 
![Append](dataframes/Python-concat-example-append.png)

In [ ]:
result = df1.append(df2)
result

Next let us write a code for the following view of your DataFrame.

![Append Disjoint](dataframes/Python-concat-example-append-disjoint.png)

In [ ]:
result = df1.append(df4, sort=False)
result

There are many more possibilities and variations possible for concat() and append() that are beyond the scope of this module. If you would like to explore further, please refer to this guide. 

If you would like to explore further please refer to the following link: <br>

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

# Merging data sets

Instead of simply concatenating two data sets, sometimes you might need to merge them. What’s the difference? 
 
A concatenation means combining dataframes as additional rows or columns, regardless of the data values. However, suppose you need to integrate two separate dataframes where one contains the names of books and other contains the authors of those books; then merging is a more powerful and flexible function to rely on. Using this function, combine categories or indices that are common to both dataframes. 
 
Pandas has full-featured, high-performance, in-memory join operations, which are syntactically very similar to relational databases like SQL. Pandas provides a single function, merge(), as the entry point to all the standard database join operations between the dataframe objects or names series objects.
 
The syntax of __merge()__ is: 
 
<CODE>
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('x', 'y'), copy=True, indicator=False, validate=None)
</CODE> 


Parameters for the merge() function
 
- left: This defines the left-hand side set (dataframe or series object).
 
- right: This defines the right-hand side set (dataframe or series object).
 
- on=None : This defines the key (column name or index label) to join on. This key must be in both the right and left sets. The default value of this parameter is None. If this variable is not passed and both left_index and right_index are False, the operation infers the key for the join operation as the column intersection in the two dataframes.
 
- left_on : These are the columns or index labels from the left set (dataframe or series) to use as keys.
 
- right_on : These are the columns or index labels from the right set (dataframe or series) to use as keys.
 
- left_index : If this Boolean value is True, use the index (row labels) from the left-hand set as the join keys.
 
- right_index: If this Boolean value is True, use the index (row labels) from the right-hand set as join keys.
 
- how: The possible values are 'left', 'right', 'outer', and 'inner' (the default). As the name suggests, it relates to left, right, outer, and inner joins.
 
Refer to this documentation for a detailed list of merge() parameters and their uses. <br>

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html </br>

Now, let's explore some examples.

### Example 1: Inner Join(s)

Look at these dataframes: 
 
![Inner Join](dataframes/Python-merge-inner.png)


Notice that both the left and right dataframes have the same key columns with the same values. If you do an inner join on the key column, you will get a Dataframe that has columns A and B from the left dataframe, and columns C and D from the right dataframe.
 
Try this code snippet in your Jupyter Notebook to see the process:

In [ ]:
#Create DataFrames
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
left

In [ ]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
right

In [ ]:
#Merge DataFrame, perform Inner Join
pd.merge(left,right, on='key')

### Example 2: Inner Join with Multi Keys

Take a look at these dataframes:

![Inner Join with Multi Keys](dataframes/Python-merge-inner-multi-key.png)
 
Notice that:
 
- Both original dataframes have columns 'key1' and 'key2'. If we perform an inner join on the two keys, the operation will use the combination of keys. 
- The key pair (K0, K0) occurs in both original dataframes once, so it will be in the resulting dataframe once and the columns will be merged.
- The key pairs (K0, K1 and K2, K1) are not in the right-hand dataframe, so they won’t be in the resulting dataframe.
- Key pair (K1, K0), from the left-hand dataframe, occurs twice in the right-hand dataframe, so we will get two rows with this key in the resulting dataframe.
 
Try out the process with this code snippet:

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                   'key2': ['K0', 'K1', 'K0', 'K1'],
                   'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                   'key2': ['K0', 'K0', 'K0', 'K0'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
result = pd.merge(left,right, on=['key1','key2'])
result

The how parameter determines how the join operation occurs (ie, which keys to include in the resulting table). If a key combination does not appear in either the left or right tables, the values in the joined table will be NA.

Following table summarizes how the join operation works:

| Merge Method | SQL Join Name | Description |
|--------------|---------------|-------------|
|left| LEFT OUTER JOIN | Use Keys from the LEFT Frame only|
|right| RIGHT OUTER JOIN | Use Keys from the RIGHT Frame only|
|outer| FULL OUTER JOIN | Use Union of Keys from both Frames |
|inner| LEFT OUTER JOIN | Use Intersection of Keys from both Frames|

### Example 3: Left Join

This diagram illustrates a left join:

![Left Join](dataframes/Python-merge-left-join.png)

Notice that:
- all the key pairs from the left-hand dataframe are available 
- there are NA values in columns C and D if the key pair is not available in the right-hand dataframe
- the key pair (K1, K0) appears twice, because it appears twice in the right-hand dataframe (with different values in   columns C and D).

Let's use code to implement this join:

In [ ]:
result=pd.merge(left,right, how='left', on=['key1','key2'])
result

### Example 4: Right Join

Here is an example of a right join:
 
![Right Join](dataframes/Python-merge-right-join.png)
 
As you can see, all the key pairs from the right-hand dataframe are available. Columns A and B have NA values where the key pair is not available in the right-hand dataframe.
 
Here is some code to implement the right join:

In [ ]:
result=pd.merge(left,right, how='right', on=['key1','key2'])
result

### Example 5: Outer Join

Look at this diagram:
 
![Outer Join](dataframes/Python-merge-outer.png)

Notice that all the key pairs from the left- as well as right-hand dataframe are present in the result. The NaN values in the columns correspond to key pairs that weren’t present in one of the original dataframes. 
 
This code snippet demonstrates the operation:

In [ ]:
result=pd.merge(left,right, how='outer', on=['key1','key2'])
result


You have already seen examples of inner joins in Examples 1 and 2, which is the default behaviour of merge(). There are many more possible variations of the __merge()__ and __join()__. 

And we have already seen the illustration of INNER JOIN in Example 1 and Example 2, which is the default behaviour of __merge()__ function

There are many more variations of the merge/join possible, and we encourage you to explore the topic further. Following official documentation provides a well documented and thorough explanation:


https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

# Reshaping data sets

Now that you have learnt about techniques for combining data sets, what about Python operations to reorganise the information in a single data set? Python has operations for rearranging tabular data, known as reshaping or pivoting operations.
 
For example, hierarchical indexing provides a consistent way to rearrange data in a dataframe. 
 
There are two primary functions in hierarchical indexing:
 
- stack(): rotates or pivots data from columns to rows 
- unstack(): pivots data from rows to columns 
 
Here are the syntax for both the functions:
 
<CODE>
DataFrame.stack(level=- 1, dropna=True)
</CODE>
 
<CODE>
DataFrame.unstack(level=- 1, fill_value=None)
</CODE>
 
Let's try these operations with some examples. Use these code snippets:
 
First, create a dummy DataFrame.

In [ ]:
##Create a dummy DataFrame.
data = pd.DataFrame(np.arange(6).reshape((2,3)),
                    index=pd.Index(['Victoria', 'NSW'], name='state'),
                    columns=pd.Index(['one','two','three'], name='number'))
data

In [ ]:
# Using the STACK method, we will pivot the columns into rows
data_stack = data.stack()
data_stack

You can see that:
 
- the operation converted the columns to row labels
- the values now have hierarchical indexing (state and number)
- the operation converted the dataframe to a series.

You can confirm these changes with this code:

In [ ]:
type(data_stack)

In [ ]:
data_stack.index

From a hierarchically indexed series, you can rearrange the data back into a dataframe with the __unstack()__ function.

In [ ]:
data = data_stack.unstack()
data

By default, the innermost level is unstacked. In our example, it was a number. However, you can unstack a different level by passing a level number or name as a parameter to the unstack method.
 
For example, try this code that unstacks data_stack at the level of state, rather than number:

In [ ]:
data_state = data_stack.unstack('state')
data_state

# Data Manipulation and Transformations

So far, we have focused on joining, merging, and rearranging data, but data analytics often requires many other manipulation operations. 
 
For example:
 
- bulk transforming records (eg, add missing address information)
- detecting and filtering outliers
- removing duplicates from a dataset.
 
In this topic, you will explore how Pandas assists with these kinds of tasks. Let’s look at how you would use Python for each of these examples.

## Transforming Data using a Function or Mapping


For many data sets, you may need to perform some transformations based on values in Pandas Object. 
 
Consider this hypothetical scenario:
 
You have a DataFrame consisting of customer names and addresses. The addresses include code and city, but country information is missing. You need to add the country information to this dataframe. Fortunately, you have city-to-country mapping maintained in a dictionary. You want to create an additional column in the dataframe that contains the country values.
 
Let's implement this solution using code. You will use the map method in this particular case. This method is called on a series and you pass a function to it as an argument. The function is applied to each value in the series specified in the map method.
 
Use these code snippets for a demonstration:

In [ ]:
df_person = pd.DataFrame([
    ['Person 1', 'Melbourne', '3024'],
    ['Person 2', 'Sydney', '3003'],
    ['Person 3', 'Delhi', '100001'],
    ['Person 4', 'Kolkata', '700007'],
    ['Person 5', 'London', 'QA3023']
], columns=['Name','City','Pin'])
df_person

Next, let us create a dictionary for the city and the country.

In [ ]:
dict_mapping = {
    "Melbourne":"Australia",
    "Sydney":"Australia",
    "Delhi":"India",
    "Kolkata":"India",
    "London":"United Kingdom"
}
dict_mapping

In [ ]:
df_person['Country']= df_person['City'].map(lambda x: dict_mapping[x])
df_person

As we can observe in the result:

- the __map__ method is called on the series __df_person['City']__
- there is an inline function using lambda notation (covered in Module 2)
- this inline function takes __key(x)__ as an input, and returns the value corresponding to this __key(x)__ from the dictionary object __dict_mapping__
- the resulting value is stored in a new column, ‘Country’, in the original DataFrame __df_person__.

### Detecting and Filtering Outliers

You learnt about the technique for filtering outliers in Module 3, which discussed boolean indexing. Remember, you can create boolean filters using conditions (eg, data < 3) and then use that boolean filter with indexing on a dataframe and series to extract a subset of data values. Through filtering, you can remove outlier data points from a dataframe or series.

As an example, let’s create a dataframe with random numbers. You will extract  particular rows based on a filter applied to values in a particular column.

<NOTE>
Do note that everytime you run the following codes in your notebook, the output will display a new set of values and not necessarily the ones displayed in the image here.
</NOTE>

Use these code snippets for a demonstration:

In [ ]:
#Creating Random DataFrame
data = pd.DataFrame(np.random.randint(5, 1000, size=(1000,4)), columns = ['Col A', 'Col B', 'Col C','Col D'])
data.head()

In [ ]:
#Describe the DataFrame, Statistical Summary of the DataFrame
data.describe()

Take a look at Col D, in the output above: 
 
- The minimum value is 6. 
- The maximum value is 999.  
- The mean is 511.664. 
 
Let's say you want to filter all the records where the value in Col D is less than 400. For this, create a boolean filter on Col D and then apply that filter to the dataframe as an index to get the subset of the data.
 
Try these code snippets:

In [ ]:
#Create a filter
boolean_filter = data['Col D'] < np.abs(400)
boolean_filter.head()

In [ ]:
#Apply this filter on the DataFrame
data_filtered = data[boolean_filter]
data_filtered.describe()

As you can see from the statistical summary of the filtered dataset, the maximum value in Col D is now 397, which is less than 400. 
 
You can apply this filter inline as well, and to all the columns:

In [ ]:
data_filtered_new = data[np.abs(data)<400]
data_filtered_new.describe()

## Removing Duplicates

There are many real-life situations where you would find duplicate records in a data set such as recurring salary details and email addresses of the same person within the same file or duplicates of addresses for two people of the same household (in some cases, you might need to drop one name and retain the other to avoid duplicate addresses).
 
Pandas has an easy-to-use function, drop_duplicates(), that removes duplicate records from a dataframe.
 
Let's test this function through an example. First, you need to create a test dataframe with some duplicate records:

In [ ]:
df1 = pd.DataFrame({'k1': ['A']*3 + ['B']*4,
                    'k2': [1,1,2,2,3,3,4]
                   })
df1

Now, use the function to drop the duplicates. 
 
__drop_duplicates()__ can work in two ways:
 
- If you don't specify a column, the function operates on all columns collectively (ie, drop rows with exactly the same values in all columns).
- If you do specify a column, the function removes duplicates only from that column (ie, keep the first instance in another column).

Try this example without a specified column:

In [ ]:
## Remove duplicate rows
df_dedup = df1.drop_duplicates()
df_dedup

Next, try this example with a specified column:

In [ ]:
#Remove Duplicate Values form Column k1
df_dedup_k1= df1.drop_duplicates('k1')
df_dedup_k1

# GroupBy Mechanics

Consider this scenario:
 
You are analysing data for a company that sells computer hardware. The company would like to look at the past year’s sales trends to see which types of hardware were the most profitable, which brands were the most popular, and the average number of sales per region, among other insights. Unfortunately, the company recorded their sales transactions in a rather disorganised way: the transaction records for all offices and regions are stored in a single large file in order of transaction date and time. There are thousands of records and it would be very time consuming to organise them manually. You need to use Python to categorise the transactions, perform necessary calculations for each category, and summarise the results in a useful way.
 
Fortunately, Python has GroupBy operations to help you solve these kinds of business problems.
 
A GroupBy operation is a process with one or more of these steps:
 
- Splitting: the data is separated into groups according to some criteria.
- Applying: a function is applied to each group independently.
- Combining: the individual results are combined into a data structure.
 
For example, you would use a GroupBy operation to separate some values according to a category, add up the values for each category, then combine the categories for a summary. 

This diagram illustrates the process:
 
!['Group By Mechanics'](dataframes/Python-GroupBy-demo.png)
 
Out of these steps, splitting is the most straightforward.

## Splitting an Object into Groups

Pandas can split objects along any axes. To create a GroupBy object, call the __groupby()__ method on the dataframe. This will return a dataframe GroupBy object.
 
You can specify splitting criteria or GroupBy mapping in many different ways; for example:
 
a Python function called on each axis label
for dataframe objects, a string indicating a column or list of column names for grouping
a list or NumPy array of the same length as the selected axis
a dictionary or series that provides a label to group name mapping.
 
Collectively, the grouping objects are referred to as ‘keys’. In the example above, 'class' was the key. 
 
Try this example that uses the column name as the splitting criterion:

In [ ]:
df_animals = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                   ('bird', 'Psittaciformes', 24.0),
                   ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                  index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                  columns=('class', 'order', 'max_speed'))
df_animals

In [ ]:
grp_class= df_animals.groupby('class')
grp_class

In [ ]:
grp_class_order = df_animals.groupby(['class', 'order'])
grp_class_order

Do you see how the __groupby()__ operation returns a dataframeGroupBy object? Importantly, no splitting actually occurs until there is a need. Creating the GroupBy object only verifies that you passed a valid mapping for grouping or splitting.
 
For example, once you call a __.sum()__ method on the two GroupBy objects, the split occurs and returns the summation result. 
 
Use these code snippets for a demonstration:

In [ ]:
grp_class.sum()

In [ ]:
grp_class_order.sum()

### Group By Sorting

By default, the group keys are sorted during the GroupBy operation. If you don't want group keys to be sorted, pass the parameter sort=false.

Try this example:

In [ ]:
df2 = pd.DataFrame({'X': ['B', 'B', 'A', 'A','C','C','C'], 'Y': [2, 4, 3, 4,2,5,6]})
df2

In [ ]:
#Observer that in the output, Keys are sorted lexicographically
df2.groupby(['X']).sum()

In [ ]:
#In this statement we are passing sort=False, now group keys will not be sorted
df2.groupby(['X'], sort=False).sum()

### GroupBy Object Attributes

If you want to check the created groupings, you can look at the groups attribute of the GroupBy object. 
 
This action returns a dictionary with:

- keys: computed unique groups
- values: corresponding axis labels for each group.
 
Let's check this with an example:

In [ ]:
df=pd.DataFrame({'X': ['A', 'B', 'A', 'B'], 'Y': [1, 4, 3, 2]})
df

In [ ]:
df.groupby(['X']).groups

As you can see 
- the first group key is A, and the corresponding values are indexes 0 and 2,
- the second group key is B, and the corresponding values are indexes 1 and 3

For the next step, applying, we may need to perform one or a combination of these actions:
 
- Aggregation: compute a summary statistic for each group (eg, sums, means, counts).
- Transformation: perform a computation on the data in each group and return a like-indexed object.
- Filtration: discard some groups, according to a groupwise computation that evaluates as True or False.
 
You will explore each of these steps in more detail in the remainder of this topic and the subsequent topics.

# Data Aggregation

Once you have created the GroupBy object, you have several options to perform computation on the grouped data. These operations are generally referred to as aggregation.
 
There is the __aggregate()__ method, which can be invoked on the GroupBy object. In this method, you can pass the function as a parameter (eg, np.sum). 

Try this example:

In [ ]:
#Check DataFrame
df

In [ ]:
grouped = df.groupby(['X'])
grouped.groups

In [ ]:
grouped.aggregate(np.sum)

As you can see, the result of aggregation will have the group names (ie, group keys) as the new index along the grouped axis.

You can apply various aggregation functions to the GroupBy object. Here are some of them:

There are various aggregation functions that can be applied to the GroupBy object. Following table list down some of the aggregating functions:

|Function|Description|
|--------|-----------|
|mean()|Compute mean of the values in a group|
|sum()|Compute sum of the values in a group|
|size()|Compute the group size|
|count()|Compute the count of values in a group|
|std()|Standard Deviation of the values in a group|
|var()|Compute variance of the values in a group|
|sem()|Compute the standard of the mean of the groups|
|describe()|Generate descriptive statistics of the group|
|first()|Compute first of group values|
|last()|Compute last of group values|
|nth()|Take nth value, of subset if n is a list|
|min()|Compute min of the group values|
|max()|Compute max of the group values|

Let's check some of these aggergation function on the following DataFrame, please see the code snippet below:

In [ ]:
df = pd.DataFrame({'X': ['B', 'B', 'A', 'A','C','C','C'], 'Y': [2, 4, 3, 4,2,5,6]})
df

In [ ]:
## Summation Aggegation
df.groupby(['X']).sum()

In [ ]:
## Mean Aggregation
df.groupby(['X']).mean()

In [ ]:
## Max Aggregation
df.groupby(['X']).max()

You can apply multiple functions at once by using the aggregate function. Try this example where the sum, mean, maximum are calculated together:

In [ ]:
df.groupby(['X']).aggregate([np.sum,np.mean,np.max])

# GroupBy operations and transformation

Aggregation is only one type of group operation. It’s a special case in a more general class of data transformation because it accepts functions that reduce a one-dimensional array to a single value (eg, sum, mean, max).
 
You previously learnt about using the aggregate() method. You can also apply many other transformations to a GroupBy dataframe object, using the transform() method. The transform() method returns an object that is indexed the same (same size) as the object being grouped. 
 
This function:
 
- must return a result that’s either the same size as the group size, or can be broadcast to the size of the group chunk
- can operate column-by-column on the group chunk
- mustn’t perform in-place operations on the group chunk.

For example, consider a situation where you need to standardise a set of dates. In this scenario, you cannot rely on simple aggregate functions and would have to rather use the transform() method. You would pass the function for standardising the data within each group as a parameter to the transform method.
 
If you have to standardise a data series, you need to subtract the individual values by the mean of the series, and then divide it by the standard deviation of the data series. So the formulae for standardisation will be:  


<code>
    x(i) = (x(i) - mean of X Series) / (Standard Deviation of X Series)
</code>

Let's implement this scenario by simulating a time series of randomly generated dates. Use these code snippets for a demonstration:

In [ ]:
index = pd.date_range('10/1/1999', periods=1100)
ts = pd.Series(np.random.normal(0.5,2,1100), index)
ts.head()

In [ ]:
ts.tail()

In [ ]:
##Calculating the Mean over the Rolling Windows
ts = ts.rolling(window=100, min_periods=100).mean().dropna()
ts.head()

In [ ]:
ts.tail()

Now let’s apply a data standardisation transformation to the time series data:

- Group the index based on the year (ie, group all the timestamps if they are in the same year).
- Transform the values as described above (ie, subtract mean and divide by standard deviation).
 
After this transformation, you would expect that in the transformed data, the mean will be 0 and the standard deviation will be 1. We can check that by running the following code.

In [ ]:
transformed = ts.groupby(lambda x:x.year).transform(lambda x: (x-x.mean())/x.std())

In [ ]:
#Checking the Mean and Standard Deviation of the Transformed Series
transformed.groupby(lambda x:x.year).aggregate([np.mean, np.std])

As you can see, the transformed time series now has a mean of 0 (or floating point number very close to 0) and standard deviation of 1.